<!DOCTYPE html>
html(lang="en")
    block head
        include ./elements/head.pug
    body
        block header  
            include ./elements/header.pug

        block main  
            include ./elements/main.pug

        block footer  
            include ./elements/footer.pug
    

    //- block scripts
    //-     include ./elements/scripts.pug
